<section class="section" id="luggageTypeSection">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--dark text-center">
                <h3>No matter your luggage type we accept all luggage types</h3>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="luggage-type">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="luggage-type__item luggage-type__item--bag"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="luggage-type__item luggage-type__item--stroller"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="luggage-type__item luggage-type__item--suitcase"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="luggage-type__item luggage-type__item--backpack"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>