<section class="section section--reviews" style="background-image: url('${require('/assets/images/reviewsbg.png')}');" id="reviewsSection">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--dark text-center">
                <h2>Reviews</h2>
            </div>
            <div class="reviews-block">
                <div class="reviews-block__item">
                    <div class="reviews-block__item-inner">
                        <div class="reviews-block__item-head">
                            <img alt="User Image" class="reviews-block__item-photo">
                            <div class="reviews-block__item-user-info">
                                <div class="reviews-block__item-name">
                                    Rachel Dewar
                                </div>
                                <div class="reviews-block__item-date">
                                    Oct 16, 2017
                                </div>
                            </div>
                        </div>
                        <div class="reviews-block__item-text">
                            Convenient, courteous and very helpful service. Could not fault it at all, driver turned up early (thumbs up!)
                            on both collection and delivery, very lovely guy, and well worth the money to save lugging a case around all day.
                            Would definitely recommend! Thank you so much!
                        </div>
                    </div>
                </div>
                <div class="reviews-block__item">
                    <div class="reviews-block__item-inner">
                        <div class="reviews-block__item-head">
                            <img alt="User Image" class="reviews-block__item-photo">
                            <div class="reviews-block__item-user-info">
                                <div class="reviews-block__item-name">
                                    Eric Formato
                                </div>
                                <div class="reviews-block__item-date">
                                    Nov 8, 2017
                                </div>
                            </div>
                        </div>
                        <div class="reviews-block__item-text">
                            Such a good deal!!! We had to check out of our Airbnb at 11 and our flight wasn't until 6.
                            This was the PERFECT solution which allowed us to explore Toronto our last day bag free. They
                            picked up and dropped off just as expected. Highly recommend and I wish they had this in other cities!
                        </div>
                    </div>
                </div>
                <div class="reviews-block__item">
                    <div class="reviews-block__item-inner">
                        <div class="reviews-block__item-head">
                            <img alt="User Image" class="reviews-block__item-photo">
                            <div class="reviews-block__item-user-info">
                                <div class="reviews-block__item-name">
                                    Sarah Cottam
                                </div>
                                <div class="reviews-block__item-date">
                                    Oct 9, 2017
                                </div>
                            </div>
                        </div>
                        <div class="reviews-block__item-text">
                            BagsAway is an excellent service. Easy to book, we could choose when and where bags dropped off
                            and collected and they were there to meet us on time both times.we had a late flight out and this meant
                            we didn’t have to drag our suitcases around Toronto with us all day and could just relax and wander. It was
                            also a very reasonable price. Can’t recommend them enough and would definitely use this service again
                        </div>
                    </div>
                </div>
                <div class="reviews-block__item">
                    <div class="reviews-block__item-inner">
                        <div class="reviews-block__item-head">
                            <img alt="User Image" class="reviews-block__item-photo">
                            <div class="reviews-block__item-user-info">
                                <div class="reviews-block__item-name">
                                    Alicia Arana
                                </div>
                                <div class="reviews-block__item-date">
                                    Oct 10, 2017
                                </div>
                            </div>
                        </div>
                        <div class="reviews-block__item-text">
                            Excellent service!  We arrived in Toronto on an early morning flight and were not able to check into our accommodations
                            until the afternoon.  Bags Away picked up our luggage from the airport and dropped it off at our accommodations.
                            The service was prompt, professional and very reasonably priced.  I would not hesitate to recommend them to anyone.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>