<section class="section section--security" id="securitySection">
    <div class="section__inner">
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-md-block col-lg-6">
                    <div class="row h-100">
                        <div class="section__column-image" style="background-image: url('${require('/assets/images/security.jpg')}');"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="section__column-text">
                        <div class="section__title section__title--light text-center">
                            <h2>Security</h2>
                        </div>
                        <div class="section__description section__description--light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                            <br/>
                            <br/>
                            <ul class="mark-list">
                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</span></li>
                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</span></li>
                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>