<section class="section section--main" style="background-image: url('${require('/assets/images/main-bg.jpg')}');" id="mainSection">
    <div class="section__inner">
        <div class="container h-100">
            <div class="d-flex flex-column justify-content-center h-100">
                <div class="row">
                    <div class="col">
                        <div class="section__bg-block d-inline-block">
                            <h1>Header Title Example</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <div class="section__bg-block d-inline-block">
                            <h2>BAGSAWAY IS TORONTO'S<br/>
                                FIRST MOBILE LUGGAGE<br/>
                                STORAGE!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__search">
                <div class="search-component">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="" id="" class="search-select wide">
                                <option value="New York">New York</option>
                                <option value="Los Angeles">Los Angeles</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="" id="" class="search-select wide">
                                <option value="New York">New York</option>
                                <option value="Los Angeles">Los Angeles</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select name="" id="" class="search-select wide">
                                <option value="New York">New York</option>
                                <option value="Los Angeles">Los Angeles</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <input type="number" class="number-input" style="width: 100%">
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="base-button base-button--filled base-button--full-width">Find Drop-off Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>