<section class="section section--pricing" style="background-image: url('${require('/assets/images/pricingbg.jpg')}');">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--dark text-center">
                <h2>Pricing</h2>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="pricing-item">
                        $0/hour
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-sub">
                        ($0 handling free) per bag CAD
                    </div>
                    <div class="pricing-descr">
                        Lorem ipsum dolar sit amet, consectetur adipiscing elit, sed
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>