<section class="section section--faq" style="background-image: url('${require('/assets/images/faqbg.jpg')}');" id="faqSection">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--light text-center">
                <h2>FAQ</h2>
            </div>
            <div class="row">
                <div class="col-md-1 col-lg-3"></div>
                <div class="col-md-10 col-lg-6">
                    <div class="accordion accordion--white">
                        <div class="accordion__item">
                            <div class="accordion__heading js-accordion-faq">
                                <div class="accordion__plus-icon float-left">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h4>What are does BagsAway Service?</h4>
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body-content">
                                    BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s
                                    Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__heading js-accordion-faq">
                                <div class="accordion__plus-icon float-left">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h4>What happens if my luggage doesn't arrive at the airport in time for my departure?</h4>
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body-content">
                                    BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s
                                    Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__heading js-accordion-faq">
                                <div class="accordion__plus-icon float-left">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h4>How much does it cost?</h4>
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body-content">
                                    BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s
                                    Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__heading js-accordion-faq">
                                <div class="accordion__plus-icon float-left">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h4>How do I know that my bags will be stored and transported safely?</h4>
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body-content">
                                    BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s
                                    Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__heading js-accordion-faq">
                                <div class="accordion__plus-icon float-left">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h4>How can I contact BagsAway??</h4>
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body-content">
                                    BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s
                                    Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-lg-3"></div>
            </div>
        </div>
    </div>
</section>