.section
  position: relative
  padding: 60px 0

  &__inner
    position: relative
    height: 100%
    z-index: 1

  &__title
    margin-bottom: 40px
    &--dark
      color: #191919
    &--light
      color: #ffffff

  &__description
    font-weight: $font-weight-normal
    line-height: 27px
    font-size: 16px
    &--light
      color: #ffffff

  &__column-image
    background:
      size: cover
      position: center
    width: 100%
    height: 100%

  &__column-text
    padding: 50px 100px

  &__bg-block
    background: rgba(33, 33, 33, 0.75)
    padding: 15px 30px
    color: #ffffff

  &__search
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding-left: 15px
    padding-right: 15px

  &--main
    height: 694px
    padding: 0
    background:
      size: cover
      position: bottom center
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: #263238
      opacity: .17
    .container
      position: relative

  &--pricing
    padding: 100px 0
    background:
      position: bottom
      repeat: no-repeat
      size: cover

  &--security
    background: #0078A7
    padding: 0

  &--reviews
    background:
      position: bottom
      size: cover

  &--faq
    background:
      size: cover
      position: center

  &--contacts
    padding: 0

  &--contacts  &__title
    margin-bottom: 15px

  &--contacts &__column
    padding: 13%

  &--contacts &__description
    margin-top: 60px