<footer class="footer">
    <div class="container">
        <div class="footer__sub">
            <a href="#" class="base-button d-inline-block float-right">Become a Partner</a>
            <div class="row">
                <div class="col-md-4">
                    <div class="footer__company-name">
                        BagsAway
                    </div>
                    <div class="footer__company-address">
                        2083 Garth Rapid Apt. 844
                    </div>
                    <div class="footer__company-phone">
                        <a href="18446472247">1-844-647-2247</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="row align-items-center">
                <div class="col-md-6 d-flex flex-row">
                    <div class="footer__copyright">
                        © Copyright 2017 BagsAway
                    </div>
                    <div class="footer__developer">
                        Website by ITW
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <ul class="footer__menu">
                        <li>
                            <a href="#">Privacy Policy </a>
                        </li>
                        <li>
                            <a href="#">Terms of Use </a>
                        </li>
                    </ul>
                    <div class="footer__social">
                        <ul class="social-list">
                            <li>
                                <a href="#" class="social-list__item social-list__item--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="social-list__item social-list__item--twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="social-list__item social-list__item--insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>