<header class="header">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-5 col-md-2">
                <img src="${require('/assets/images/logo.svg')}" alt="BagsAway" class="header__logo">
            </div>
            <div class="col-7 col-md-10">
                <div class="d-flex flex-row h-100 align-items-center justify-content-end">
                    <nav class="header__menu">
                        <ul class="main-menu">
                            <li>
                                <a href="#howItWorksSection" class="main-menu__item">How it Works</a>
                            </li>
                            <li>
                                <a href="#pricingSection" class="main-menu__item">Pricing</a>
                            </li>
                            <li>
                                <a href="#securitySection" class="main-menu__item">Security</a>
                            </li>
                            <li>
                                <a href="#faqSection" class="main-menu__item">FAQ</a>
                            </li>
                            <li>
                                <a href="#contactSection" class="main-menu__item">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__partner">
                        <a href="#" class="base-button base-button--fixed-width d-inline-block">Partner with Us</a>
                    </div>
                    <div class="header__login">
                        <a href="#" class="base-button base-button--filled base-button--fixed-width d-inline-block">Login</a>
                    </div>
                    <div class="header__lang-switch">
                        <select name="" id="langSwitch" class="lang-switch-select">
                            <option value="eng">ENG</option>
                            <option value="ru">RU</option>
                        </select>
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>