.header
  height: 80px
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 99
  background: rgba(33, 33, 33, 0.3)
  border-bottom: 1px solid rgba(255, 255, 255, .5)
  box-shadow: inset -10px 30px 50px 10px rgba(0, 0, 0, .5)

  &__menu
    margin-right: 30px

  &__partner
    margin-right: 20px

  &__login
    margin-right: 20px