{% extends "layouts/layout.njk" %}

{% block content %}
{% include './pages/sections/section-main.njk' %}
{% include './pages/sections/section-how-it-works.njk' %}
{% include './pages/sections/section-luggage-type.njk' %}
{% include './pages/sections/section-pricing.njk' %}
{% endblock %}