.it-works
  +clearfix
  &__item
    text-align: center
    width: (100%/3)
    float: left

  &__item-icon

  &__item-title
    font-size: 24px
    font-weight: $font-weight-bold
    margin-top: 35px

  &__item-description
    font-size: 16px
    font-weight: $font-weight-semi-bold
    margin-top: 10px

  .slick-dots
    bottom: -40px
    li
      button
        &:before
          font-size: 12px
      &.slick-active
        button
          &:before
            font-size: 16px
            color: $base-color
